<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/views/pedidos/pedidos.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../public/js/pedidos.js"></script>


<link href="../css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../css/tables_view.css" rel="stylesheet">
<title>Top Açaí - Page</title>
<style>
    #imghome {
        display: none;
    }
</style>

<body onload='hideTotal()'>
    <%- include('../partials/home'); %>
        <div class="wrapper w3-container">
            <section class="container-fluid">
                <div class="container-fluid">
                    <div class="responsive container text-center row-col-10">
                        <div id="wrap">
                            <form action="" id="acaiform" onsubmit="return false;">
                                <div>
                                    <div class="cont_order">
                                        <fieldset>
                                            <legend>Faça seu Açaí!</legend>
                                            <label>Tamanho da tigela</label><br>
                                            <label class='radiolabel'><input type="radio"  name="selectedacai" value="um" onclick="calculateTotal()" />Tamanho pequeno -  serve 1 pessoa (R$20)</label><br/>
                                            <label class='radiolabel'><input type="radio"  name="selectedacai" value="dois" onclick="calculateTotal()" />Tamanho médio - serve 2 pessoas(R$25)</label><br/>
                                            <label class='radiolabel'><input type="radio"  name="selectedacai" value="tres" onclick="calculateTotal()" />Tamanho grande - serve 3 pessoas(R$35)</label><br/>
                                            <label class='radiolabel'><input type="radio"  name="selectedacai" value="quatro" onclick="calculateTotal()" />Tamanho extra grande - serve 5 pessoas(R$75)</label><br/>
                                            <br/>
                                            <label>Recheio</label>

                                            <select id="Recheio" name="Recheio" onchange="calculateTotal()">
                <option value="None">Selecione o Recheio</option>
                <option value="Amendoin">Amendoin(R$3)</option>
                <option value="Nutella">Nutella(R$5)</option>
                <option value="Brigadeiro">Brigadeiro(R$7)</option>
                <option value="Banana">Banana(R$8)</option>
                <option value="Morango">Morango(R$10)</option>
                <option value="Granola">Granola(R$5)</option>

               </select>
                                            <br/>
                                            <p>
                                                <label for='condensado' class="inlinelabel">Incluir Leite Condensado(R$5)</label>
                                                <input type="checkbox" id="condensado" name='condensado' onclick="calculateTotal()" />
                                            </p>


                                            <p>
                                                <label for='ninho' class="inlinelabel">Incluir Leite Ninho(R$1)</label>
                                                <input type="checkbox" id="ninho" name='includeCherry' onclick="calculateTotal()" />
                                            </p>

                                            <div id="totalPrice" style="border-color: black; border-radius:10%; font-size: 20px;"></div>

                                        </fieldset>

                                        <button class="btn-success" type='submit' id='submit' onSubmit={clicarAlerta} value='Enviar' onclick="calculateTotal(), clicarAlerta()" />Salvar Pedido</button>
                                    </div>
                            </form>
                            </div>
                        </div>
                    </div>
            </section>
            </div>

</body>

</html>