<h4>
    <b style="color: rgb(62, 196, 5);">P</b><b style="color: rgb(31, 12, 201);">G</b><b style="color: rgb(3, 2, 18);">D</b><b style="color:rgb(238, 12, 8);">E</b> - <b style="color: rgb(62, 196, 5);">P</b>rograma de <b style="color: rgb(31, 12, 201);">G</b>erenciamento de <b style="color: rgb(3, 2, 18);">D</b>espesa e <b style="color:rgb(238, 12, 8);">E</b>stoque

</h4>