<style>
    #imghome {
        display: none;
    }
</style>
</head>

<body>
    <%- include('./partials/home'); %>
        <br><br>
        <div class="container-fluid">
            <section class="container-fluid col-md-12">
                <br> <br> <br> 
                <div class="row card-columns card-text text-justify">
                    <center>
                        <h4>Você está visualisando os <b style="color:red;">Relatórios</b> disponíveis para consultas. <b style="color: red;">
                            </b> </h4>                                <br>
                    </center>
                   <div class="w3-container col-md-12">
                    <div class="col-sm-6 card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">Relatório</div>
                        <div class="card-body">
                            <a href="/usuarios/relatoriousuarios">
                                <h5 class="card-title">POR <b>PERFIL USUÁRIO </b></h5>
                            </a>
                        </div>
                        <p class="card-text">Clique no nome acima para acessar.</p>
                    </div>
                    <div class="col-sm-6 card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Relatório</div>
                        <div class="card-body">
                            <a href="/fornecedores/relatoriofornecedores">
                                <h5 class="card-title">POR <b>FORNECEDOR</h5></b></h5>
                            </a>
                        </div>
                        <p class="card-text">Clique no nome acima para acessar.</p>

                    </div>
                    <div class="col-sm-6 card text-white bg-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Relatório</div>
                        <div class="card-body">
                            <a href="/produtos/relatorioprodutos">
                                <h5 class="card-title">POR <b>PRODUTO</b></h5>
                            </a>
                        </div>
                        <p class="card-text">Clique no nome acima para acessar.</p>

                    </div>
                    <div class="col-sm-6 card text-white bg-success mb-3" style="max-width: 18rem;">
                        <div class="card-header">Relatório</div>
                        <div class="card-body">
                            <a href="/categorias/relatoriocategorias">
                                <h5 class="card-title">POR <b>CATEGORIA</b></h5>
                            </a>
                        </div>
                        <p class="card-text">Clique no nome acima para acessar.</p>
                    </div>
                    <div class="col-sm-6 card text-white bg-danger mb-3" style="max-width: 18rem;">
                        <div class="card-header">Relatório</div>
                        <div class="card-body">
                            <a href="/produtos/estoque">
                                <h5 class="card-title">SITUAÇÃO DO <b>ESTOQUE GERAL DOS PRODUTOS:</b> ENTRADAS E SAÍDAS
                                </h5>
                            </a>
                        </div>
                        <p class="card-text">Clique no nome acima para acessar.</p>
                    </div>
                    <div class="col-sm-6 card text-white bg-warning mb-3" style="max-width: 18rem;">
                        <div class="card-header">Relatório</div>
                        <div class="card-body">
                            <a href="/produtos/estoquetotal">
                                <h5 class="card-title">SITUAÇÃO DO <b>ESTOQUE AGRUPADO DOS PRODUTOS:</b> ENTRADAS -
                                    SAÍDAS. </h5>
                            </a>
                        </div>
                        <p class="card-text">Clique no nome acima para acessar.</p>
                    </div>
                    <div class="col-sm-6 card text-white bg-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Relatório</div>
                        <div class="card-body">
                            <a href="/produtos/estoqueminimo">
                                <h5 class="card-title">SITUAÇÃO DO <b>ESTOQUE MÍNIMO DOS PRODUTOS</b></h5>
                            </a>
                        </div>
                        <p class="card-text">Clique no nome acima para acessar.</p>
                    </div>

                    <div class="col-sm-6 card text-white bg-warning mb-3" style="max-width: 18rem;">
                        <div class="card-header">Relatório</div>
                        <div class="card-body">
                            <a href="/despesas/totaldespesas">
                                <h5 class="card-title">SITUAÇÃO DA <b>DESPESA AGRUPADA:</b> ENTRADAS - SAÍDAS. </h5>
                            </a>
                        </div>
                        <p class="card-text">Clique no nome acima para acessar.</p>
                    </div>
                </div>
                </div>
            </section>
        </div>

</body>
<br> <br>

</html>