<style>
    #imghome {
        display: none;
    }
</style>
</head>

<body className='snippet-body'>
    <%- include('../../partials/home'); %>
        <div class="wrapper w3-container">
            <section class="container-fluid">
                <br> <br> <br> <br>
                <div class=" container-fluid">
                    <div class="container-fluid responsive" id="pdf2htmldiv">
                        <div class="responsive container text-left row col-md-12">
                            <center>
                                <h4><br>Você está no cadastro de <b style="color: red;">Novo Nome de Produto para Estoque:</b>
                                    <br>
                                    <br>
                                </h4>
                            </center>
                            <form class="responsive container-fluid" id="validar" action="/produtos/cadprod/"
                                method="POST" onsubmit="return save(); ">
                                <div class="w3-container-fluid row col-md-12">
                                    <div class="form col-md-2">
                                        <img class="rounded-circle" src="/img/perfilusuario/produtos.jpg "
                                            style="width:120px; padding:0px,0px,opx,20px; height:80px ">
                                    </div>
                                    <div class="border row col-md-10">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <label for="nomeprod" class="text-center ">Nome do Produto</label>
                                                <input type="text " name="nomeprod" id="nomeprod" class="form-control"
                                                    placeholder="Nome da Produto" required autofocus />
                                            </div>
                                            <div class="row col-md-12">
                                                <div class="col-md-9">
                                                    <label for="nomecategoria">Nome
                                                        da Categoria</label>
                                                    <select id="nomecategoria" class="form-control" name="nomecategoria"
                                                        required autofocus>
                                                        <option value="Escolher"> Escolher </option>
                                                        <% for(cat of categoriasprodutos) { %>
                                                            <option value="<%=cat.id%>">
                                                                <%=cat.nomecategoria%>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="qtdeminima">
                                                        Estoque Mínimo</label>
                                           <!--event.charCode >= 46   Atenção: desconsiderado nro "46", pois é o ponto, e como é controle de numero inteiro para estoque mínimo, nao pode ter vírgula --> 
F
                                                    <input type="number" class="form-control col-md-8" min="0"
                                                        onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 47 && event.charCode <= 57"
                                                        oninput="Mult()" id="qtdeminima" placeholder="Ex:1"
                                                        name="qtdeminima" required autofocus>
                                                        
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <br>
                                </div>
                        </div>

                        <br>

                        <div class="container-fluid responsive col-12 text-center">

                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4 class="text-center col-md-7">Qual ação deseja realizar?</h4>
                            </div>
                            <div class="row col-12">
                                <div class="col-md-2" id="divrigth">
                                    <% if(l.Tipousuario.tipousuario=='Administrador' ||
                                        l.Tipousuario.tipousuario=='Gerente' || l.Tipousuario.tipousuario=='Supervisor'
                                        || l.tipousuarioid==2) {%>
                                        <button type="submit" class="btn btn-success btn-sm-3 profile-button text-white"
                                            onsubmit="return save();"><i title="Salvar Alterações deste Produto"
                                                style="font-size: 15px;">Salvar
                                            </i>
                                        </button>

                                        <% } else { %>

                                            <% } %>
                                </div>
                                <div class="col-md-7" id="divrigth">
                                    <a href="/produtos/cadprod">Voltar para Listagem Nomes dos Produtos</a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>

                    <br>

                </div>

            </section>
        </div>

        <script type='text/javascript'
            src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript' src='#'></script>
        <script type='text/javascript'>
        </script>
        <script type='text/javascript'>
            var myLink = document.querySelector('a[href="# "]');
            myLink.addEventListener('click', function (e) {
                e.preventDefault();
            });
        </script>

        <script src="../js/alertas.js "></script>
        <script src="../../../js/validarDados.js">
        </script>
        <br>
</body>

</html>