    <head>

    <style>
        #imghome {
            display: none;
        }
        
        #imgerro {
            width: 60%;
            height: 50%;
            padding-top: 0%;
            padding-left: 0%;
            padding: 2%;
            position: relative;
            display: relative;
            /*ajusta tamanho da*/
            /*true é para aparecer a imagem no body da NAVBAR, mas será NONE (False) na outras paginas*/
            float: center;
        }
        
        img {
            border-radius: 10%;
        }
        
        .btn-success:hover {
            color: #fff;
            background-color: #030303;
            border-color: #030303;
        }
        
        .btn-primary:hover {
            color: #fff;
            background-color: #030303;
            border-color: #5ccc00;
        }
        
        .btn-success {
            color: #fff;
            background-color: #af05c5;
            border-color: #5ccc00;
        }
        
        .btn-primary {
            color: #fff;
            background-color: #298019;
            border-color: #298019;
        }
        
        .btn-round {
            border-radius: 30px !important;
            text-decoration: none;
            padding: 50 0 70px;
        }
        
        .btn {
            font-size: 15px;
            font-weight: 600;
            padding: 9px 25px;
            border-width: 2px;
            box-shadow: 0 3px 8px 0 rgba(41, 49, 89, .15), inset 0 0 0 1px hsla(0, 0%, 100%, .1);
        }
        
        .btn {
            display: inline-block;
            font-weight: 400;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
        
        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
        /*[404 error page]
    --------------------------*/
        
        @keyframes bob {
            0% {
                top: 0;
            }
            50% {
                top: 0.2em;
            }
        }
    </style>
   

<body className='snippet-body'>
        <div class="w3-container-fluid text-center">
            <section class="w3-container-fluid responsive col-md-12">
                <br><br><br> <br>
                        <h1 class="error">Ops! Algo deu errado!</h1>
                        <div class="col-md-4">
                            <img src="/img/acesso-negado-perfil-usuario.jpg" id="imgerro">
                        </div>
                        <div class="col-md-8">
                            <h2> Perfil de Usuário não tem permissão para acessar!!!.</h2>
                            <p>Escolha uma opção: </p>
                            <b><a href="/usuarios" class="btn btn-success btn-round">Voltar para listagem de Usuários</a></b>
                        </div>
                    </center>
          </section> 
        </div>

        
