<h4 style="text-align: center; background-color: rgba(255, 255, 255, 0.137);">
    Olá <b style="color:red;"><%= l.usuariologin%></b>, login perfil
    <b style="color:rgb(7, 18, 7); background-color: rgb(244, 242, 246);"> <%= l.Tipousuario.tipousuario%></b>!!!
</h4>