<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2><span style="color: #5B30AB;font-size: 55px;">Endereço</span></h2>
                <p>Rua Emílio Inácio de Almeida, 387 ou 389 - Bairro: Bela Vista - Campestre-MG. <b style="text-transform: lowercase;color: #5B30AB;;">Estamos bem pertinho de você!</b>
                </p>
                <p>Digite no Maps localização via Plus Code: <br><b style="text-transform: lowercase;color: #5B30AB;;">7QR7+Q9</b></p>
            </div>
        </div>
        </div>

        <div class="map">
            <center><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3064.908366926216!2d-46.2390503588283!3d-21.708556570233824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd64af6901e2c80dd!2s58CM7QR7%2BQ9!5e1!3m2!1spt-BR!2sbr!4v1650234905689!5m2!1spt-BR!2sbr"
                    width="650" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </center>
        </div>


        </div>
    </section>
    <!-- End Contact Section -->

</main>
<!-- End #main -->