<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>TOP AÇAÍ</span></strong>. All Rights Reserved
        </div>

        <h4 class="text-center" style="color: white;">Venha nos visitar!</h4>

    </div>
</footer>
<!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="../css/vendor/jquery/jquery.min.js"></script>
<script src="../css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../css/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="../css/vendor/jquery-sticky/jquery.sticky.js"></script>
<script src="../css/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="../css/vendor/venobox/venobox.min.js"></script>
<script src="../css/vendor/owl.carousel/owl.carousel.min.js"></script>

<!-- Template Main JS File -->
<script src="../css/js/main.js"></script>

</body>

</html>