<style>
    #largura_compr {
        width: 80%;
        height: 70%;
    }
</style>
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container-fluid">

        <div class="section-title">
            <h2><span style="color: #5B30AB; font-size: 55px;">Galeria</span> de pedidos</h2>
            <p>Nossos clientes realizados com o nosso trabalho.</p>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">
                        <img src="img/gallery/gallery-1.jpg" id="largura_compr" ; alt="" class="img-fluid">

                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-item">
                        <img src="img/gallery/gallery-2.jpg" id="largura_compr" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-item">
                        <img src="img/gallery/gallery-3.jpg" id="largura_compr" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-item">
                        <img src="img/gallery/gallery-4.jpg" id="largura_compr" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="img/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-item">
                        <img src="img/gallery/gallery-5.jpg" id="largura_compr" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="img/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-item">
                        <img src="img/gallery/gallery-6.jpg" id="largura_compr" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="img/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-item">
                        <img src="img/gallery/gallery-7.jpg" id="largura_compr" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="img/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-item">
                        <img src="img/gallery/gallery-8.jpg" id="largura_compr" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Gallery Section -->