<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo mr-auto">
                <h1>
                    <a href="" style="font-family: 'Odibee Sans', cursive;" class="ml-2">
                        <h2 class="animated fadeInDown">TOP<b style="color: #5B30AB; font-size: 40px;"> AÇAÍ</b></h2>
                        <!--color:deeppink -->
                    </a>
                </h1>
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#videos">Videos</a></li>
                    <li><a href="#gallery">Galeria Pedidos</a></li>
                    <li><a href="#about">Sobre</a></li>
                    <li><a href="#contact">Endereço </a></li>
                    <!--  <li id="arearestrita"><a id="arearestrita" href="login" onclick="return confirm('Você realmente deseja realizar a Área do Cliente?');" style=" background-color: #f52718;">PEDIDOS</a></li> -->
                    <li id="arearestrita"><a id="arearestrita" href="login" onclick="return confirm('Você realmente deseja acessar a Área Restrita?');" style=" background-color: #f52718;">ÁREA RESTRITA</a></li>
                </ul>

            </nav>
            <!-- .nav-menu -->

        </div>
    </header>
    <!-- End Header -->