<!-- ======= About Section ======= -->
<section id="about" class="section-title contact">
    <div class="section-title">
        <h2>Sobre <span style="color: #5B30AB;;">nós</span></h2>
        <p class="text-capitalize" style="font-size: 1.1rem;">
            Somos uma empresa que preza prela qualidade dos nossos produtos, pelo bom atendimento ao nosso cliente. O cativante gosto das frutas trás um refresco ao paladar muito marcante. </p>
        <p class="text-capitalize" style="font-size: 1rem;">
            Escolha e monte os seus desejos favoritos, sinta-se satisfeito com nosso cardápio perfeito para suas escolhas. Seja no aconchego dos nossos aposentos ou ligue e peça do conforto de sua casa...</p>
    </div>

    <div class="container mt-0">
        <div class="info-wrap">
            <div class="section-title">
                <h2>Como <span style="color: #5B30AB;">atuamos</span></h2>
                <p>Retirar de produtos no <b style="text-transform: lowercase;color: #5B30AB;;">estabelecimento.</b></p>
                <p>Entrega de produtos no endereço por <b style="text-transform: lowercase;color: #5B30AB;;">Delivery.</b></p>
            </div>

            <div class="w3-container responsive row col-md-12">
                <div class="col-md-6 info mt-8 mt-lg-3">
                    <i class="icofont-clock-time icofont-rotate-90"></i>
                    <h4 >Horários</h4>
                    <p>Segunda-feira<b> 13:00 às 21:30</b></p>
                    <p>Terça-feira <b>13:00 às 21:30</b></p>
                    <p>Quarta-feira <b>13:00 às 21:30</b></p>
                    <p>Quinta-feira <b>13:00 às 21:30</b></p>
                    <p>Sexta-feira <b>13:00 às 22:00</b></p>
                    <p>Sábado <b>13:00 às 22:00</b></p>
                    <p>Domingo <b>13:00 às 22:00</b></p>
                </div>
 
                <div class="col-md-3 info mt-8 mt-lg-3">
                    <i class="icofont-facebook"></i>
                    <h4>Rede Social</h4>
                    <p style="text-transform: lowercase;">Clique Aqui: <a href="https://web.facebook.com/topacaiomelhordafruta/?_rdc=1&_rdr">FACEBOOK</a>
                        <br>ou pesquise: <b style="text-transform: lowercase;color: #5B30AB;">topacaiomelhordafruta </b></p>
                    <br> 
                </div>    
                    <!--mt-lg-0 -- o 0 é posição  -->
                <div class="col-md-3 info mt-8 mt-lg-3">
                        <i class="icofont-brand-whatsapp"></i>
                       <h4>WhatsApp</h4>
                       <b style="text-transform: lowercase;color: #5B30AB;;">
                        35-99906-0305  
                    </b></p>
                    <br><b style="text-transform: lowercase;color: #5B30AB;;">
                       35-99976-9387
                    </b></p>
                </div>
                </div>
        </div>
    </div>
    </main>
</section>

<!-- End About Section -->