<!-- ======= Gallery Section ======= -->

<head>
    <style>
        video {
            width: 300;
            height: 300;
        }
    </style>
</head>

<section id="videos" class="videos">
    <div class="container-fluid">

        <div class="section-title">
            <h2><span style="color: #5B30AB; font-size: 55px;">Vídeos</span> de pedidos</h2>
            <p>Pedidos realizados pelos nossos clientes.</p>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-3 col-md-4">
                <video controls>
                    <source src="videos/VID-20230314-WA0011.mp4" type="video/mp4" />
                </video/> 
            </div>
            <div class="col-lg-3 col-md-4">
                <video controls>
                    <source src="videos/VID-20230314-WA0012.mp4" type="video/mp4" />
                </video/> 
            </div>
            <div class="col-lg-3 col-md-4">
                <video controls>
                    <source src="videos/VID-20230314-WA0013.mp4" type="video/mp4" />
                </video/> 
            </div>
            <div class="col-lg-3 col-md-4">
                <video controls>
                    <source src="videos/VID-20230314-WA0014.mp4" type="video/mp4" />
                </video/> 
            </div>
            <div class="col-lg-3 col-md-4">
                <video controls>
                    <source src="videos/VID-20230314-WA0015.mp4" type="video/mp4" />
                </video/> 
            </div>
            <div class="col-lg-3 col-md-4">
                <video controls>
                    <source src="videos/VID-20230314-WA0017.mp4" type="video/mp4" />
                </video/> 
            </div>
            <div class="col-lg-3 col-md-4">
                <video controls>
                    <source src="videos/VID-20230314-WA0018.mp4" type="video/mp4" />
                </video/> 
            </div>
            <div class="col-lg-3 col-md-4">
                <video controls>
                    <source src="videos/VID-20230314-WA0019.mp4" type="video/mp4" />
                </video/> 
            </div>
            <div class="col-lg-3 col-md-4">
                <video controls>
                    <source src="videos/VID-20230314-WA0020.mp4" type="video/mp4" />
                </video/> 
            </div>
            <div class="col-lg-3 col-md-4">
                <video controls>
                    <source src="videos/VID-20230314-WA0021.mp4" type="video/mp4" />
                </video/> 
            </div>
        </div>

    </div>
</section>
<!-- End Gallery Section -->